@import 'common';

.hero-section {
  position: relative;

  .container {
    padding-top: 100px;
  }

  h1 {
    font-family: $secondary-font;
    font-weight: 500;
    font-size: 100px;
    line-height: 117px;
    letter-spacing: 0.03em;
  }

  .hero-section-bottom {
    width: 1150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-top: 495px;
  }

  .hero-section-label {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.03em;
  }

  .background-container {
    position: absolute;
    top: 363px;
    left: 0;
    width: 100%;
    z-index: -1;
    padding: 0 35px;
  }

  .hero-image {
    width: 100%;
    height: 621px;
    object-fit: cover;
  }
}

.about-section {
  margin-top: 120px;
}

.catalog-section {
  margin-top: 190px;

  .categories-grid {
    padding: 0 35px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 103px 35px;
  }

  .grid-item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .grid-item.wide {
    grid-column: span 2;
  }

  .grid-item.with-top-margin {
    margin-top: 50%;
  }

  img {
    width: 100%;
  }
}

.carousel-container {
  display: flex;
}

.carousel-controls {
  width: 240px;
  border: 1px solid black;
}

.carousel-wrapper {
  display: flex;
  gap: 15px;
}

.carousel-item {
  width: 240px;
  height: 100px;
  border: 1px solid black;
}

@media (min-width: 1441px) and (max-width: 1680px) {
  .hero-section {
    h1 {
      font-size: 90px;
      line-height: 105px;
    }

    .background-container {
      top: 328px;
    }
  }
}

@media (max-width: 1440px) and (min-width:901px) {
  .hero-section {
    .container {
      padding-top: 40px;
    }

    h1 {
      font-size: 80px;
      line-height: 94px;
    }
    
    .background-container {
      top: 168px;
    }

    .hero-image {
      height: 563px;
    }

    .hero-section-bottom {
      margin-top: 376px;
      width: 895px;
    }

    .hero-section-label {
      font-size: 35px;
      line-height: 41px;
    }
  }
}

@media (max-width: 900px) {
  .hero-section {
    overflow: hidden;
  }

  .catalog-section .categories-grid {
    display: flex;
    gap: 20px;
    overflow: auto;
  }

  .catalog-section .grid-item.with-top-margin {
    margin-top: 0;
  }

  .catalog-section img {
    height: 350px;
    width: 65.6vw;
    object-fit: cover;
  }
}