@font-face {
  font-family: "Gilroy";
  font-weight: bold;
  src: url("../assets/fonts/gilroy-bold.eot"); /* IE 9 Compatibility Mode */
  src: url("../assets/fonts/gilroy-bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/gilroy-bold.woff2") format("woff2"), url("../assets/fonts/gilroy-bold.woff") format("woff"), url("../assets/fonts/gilroy-bold.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  src: url("../assets/fonts/gilroy-medium.eot"); /* IE 9 Compatibility Mode */
  src: url("../assets/fonts/gilroy-medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/gilroy-medium.woff2") format("woff2"), url("../assets/fonts/gilroy-medium.woff") format("woff"), url("../assets/fonts/gilroy-medium.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/gilroy-regular.eot"); /* IE 9 Compatibility Mode */
  src: url("../assets/fonts/gilroy-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/gilroy-regular.woff2") format("woff2"), url("../assets/fonts/gilroy-regular.woff") format("woff"), url("../assets/fonts/gilroy-regular.ttf") format("truetype"); /* Safari, Android, iOS */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #E5E5E5;
}

.secondary-font {
  font-family: "Raleway", sans-serif;
}

.container {
  max-width: 1540px;
  margin-left: auto;
  margin-right: auto;
}

.common-section-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.03em;
}

header {
  background-color: white;
}
header .container {
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav {
  display: flex;
  gap: 50px;
}
header .nav-link {
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  line-height: 22px;
}

@media (min-width: 901px) {
  .mobile-only {
    display: none !important;
  }
}
@media (min-width: 1441px) and (max-width: 1680px) {
  .container {
    max-width: 1370px;
  }
}
@media (min-width: 901px) and (max-width: 1440px) {
  .container {
    max-width: 1200px;
  }
  header nav {
    gap: 40px;
  }
}
@media (max-width: 900px) {
  header nav {
    position: absolute;
    flex-direction: column;
    right: -1px;
    top: 130px;
    background-color: white;
    padding: 20px;
    z-index: 5;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    gap: 25px;
  }
  header nav.visible {
    transform: translateX(0);
  }
}
.hero-section {
  position: relative;
}
.hero-section .container {
  padding-top: 100px;
}
.hero-section h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 100px;
  line-height: 117px;
  letter-spacing: 0.03em;
}
.hero-section .hero-section-bottom {
  width: 1150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-top: 495px;
}
.hero-section .hero-section-label {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.03em;
}
.hero-section .background-container {
  position: absolute;
  top: 363px;
  left: 0;
  width: 100%;
  z-index: -1;
  padding: 0 35px;
}
.hero-section .hero-image {
  width: 100%;
  height: 621px;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-section {
  margin-top: 120px;
}

.catalog-section {
  margin-top: 190px;
}
.catalog-section .categories-grid {
  padding: 0 35px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 103px 35px;
}
.catalog-section .grid-item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.catalog-section .grid-item.wide {
  grid-column: span 2;
}
.catalog-section .grid-item.with-top-margin {
  margin-top: 50%;
}
.catalog-section img {
  width: 100%;
}

.carousel-container {
  display: flex;
}

.carousel-controls {
  width: 240px;
  border: 1px solid black;
}

.carousel-wrapper {
  display: flex;
  gap: 15px;
}

.carousel-item {
  width: 240px;
  height: 100px;
  border: 1px solid black;
}

@media (min-width: 1441px) and (max-width: 1680px) {
  .hero-section h1 {
    font-size: 90px;
    line-height: 105px;
  }
  .hero-section .background-container {
    top: 328px;
  }
}
@media (max-width: 1440px) and (min-width: 901px) {
  .hero-section .container {
    padding-top: 40px;
  }
  .hero-section h1 {
    font-size: 80px;
    line-height: 94px;
  }
  .hero-section .background-container {
    top: 168px;
  }
  .hero-section .hero-image {
    height: 563px;
  }
  .hero-section .hero-section-bottom {
    margin-top: 376px;
    width: 895px;
  }
  .hero-section .hero-section-label {
    font-size: 35px;
    line-height: 41px;
  }
}
@media (max-width: 900px) {
  .hero-section {
    overflow: hidden;
  }
  .catalog-section .categories-grid {
    display: flex;
    gap: 20px;
    overflow: auto;
  }
  .catalog-section .grid-item.with-top-margin {
    margin-top: 0;
  }
  .catalog-section img {
    height: 350px;
    width: 65.6vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
}/*# sourceMappingURL=landing.css.map */